#header{
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    ul{
        display: flex;
        column-gap: 30px;
        li{
            list-style: none;
            text-decoration: none;
        }
    }
}